srv1180212.hstgr.cloud {
    reverse_proxy backend:8000
    
    # Headers gerais (sem duplicar cors, o FastAPI trata disso em /api)
    header {
        Cache-Control "no-cache, no-store, must-revalidate"
        Pragma "no-cache"
        Expires "0"
    }
}

# Configuração para o n8n
n8n.srv1180212.hstgr.cloud {
    # Aponta para o IP do host docker na gateway padrão onde a porta 5678 está exposta
    reverse_proxy 172.17.0.1:5678 {
        # Configurações recomendadas para WebSocket (usado pelo n8n)
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
    }
}
